@mixin glassMorphism($baseColor: rgba(140, 226, 255, 0.2)) {
  backdrop-filter: blur(6px);
  background-color: $baseColor;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.35) solid;
  border-right: 1px rgba(255, 255, 255, 0.35) solid;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}