section#kgFooter{
    --ft-banner-width: max(min(200px,30vw),100px);

    background: #114;
    color:#fff;
    text-align: center;
    margin-top:20vh;
    padding: 0;
}
section#kgFooter a{
    color:#fff;
}
section#kgFooter div#ft_gototop{
    text-align:right;
    margin: 0;
    padding: 0 var(--z-padding) 0 0;
}
section#kgFooter div#ft_banners{
    display: grid;
    justify-content: center;
    gap:var(--z-spacing);
    grid-template-columns: repeat(auto-fit, var(--ft-banner-width));
    margin:var(--z-spacing) 0;
}
section#kgFooter div#ft_banners img{
    width: var(--ft-banner-width);
}
section#kgFooter div#ft_kg{
    padding: var(--z-spacing) 0;
}


