@import "../../exScripts/common.css";
@import "./header.css";
@import "./footer.css";
@import "./menu.css";
@import "./countdown.css";
@import "./ele/h.css";
@import "./ele/table.css";
@import "./bgFloater.css";

/* Google Font */
@import "https://fonts.googleapis.com/css2?family=Sriracha&family=Kosugi+Maru&display=swap";

:root{
    --z-spacing: 20px;
    --z-padding: 10px;
    --z-border-color:#114;
    --z-letterspacing: 0.1em;
}

* {
    /*
    outline:#00f solid;
    /* */
    font-family: 'Kosugi Maru', sans-serif;
    font-size:  16px;
    line-height: 1.5;
    box-sizing: border-box;
}

/* 大枠のデザイン */
body{
    background: url("../pict/bgkg.png");
}

body > div.container > *{
    background:rgba(255,255,255,0.87);
}


/* スクロールバー設定 */
body *::-webkit-scrollbar{
	width:	10px;
	height:	10px
}

body *::-webkit-scrollbar-track{
	background:	    rgba(230,230,230,0.5);
	border-radius:	10px;
	box-shadow: inset 0 0 3px #666; 
}
body *::-webkit-scrollbar-thumb{
	background: rgba(180,180,180,0.5);
	border:			1px solid #333;
	border-radius: 10px;
	box-shadow: none;
}

.noScrollbar::-webkit-scrollbar{
	display:	none;
}