// 各種インポート
@import "_custom_library";

// mixin
@import "mixin/_spikebox.scss";
@import "mixin/_glass.scss";

// common
@import "common/_layout.scss";
@import "common/_loader.scss";
@import "common/_h.scss";

// font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");

// debug
* {
  // border: 1px dashed blue;
  vertical-align: middle;
  box-sizing: border-box;
}

// 基準作成
:root {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px; // = 1.0rem
}

// 全体フォーマット
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // background-image: url("https://source.unsplash.com/?nature,landscape.jpg");
  // background-image: url("https://source.unsplash.com/random");
  // background: url("https://picsum.photos/1000.jpg") fixed;
  // background-size: cover;
  // background: #aaa;
}

// bs
.d-none {
  display: none;
}

.img-icon {
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

// https://fuze.8bit.codes/
.gradBG {
}
@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.clickable {
  cursor: pointer;
}

.heroHeading{
  
}

//
#bg_photoList {
  input[type="radio"] {
    display: none;
    & + label {
      display: inline-block;
      border: 3px transparent solid;
      overflow: hidden;
      img {
      max-width:50%;
        max-width: 150px;
        transform:scale(1);
        transition:transform 0.2s;
      }
      &:hover {
        border-color: blue;
        img{
          transform:scale(1.3);
        }
      }
    }
    &:checked + label {
      border-color: red;
    }
  }
}
