// 各種インポート

// scroll hint
@import url("https://unpkg.com/scroll-hint@latest/css/scroll-hint.css");



.sidebar{
    height:calc(100vh - 56px);
    background:red;
    &:before{
        color:blue;
    }
}



